In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('/home/linux/Escritorio/Darwin /Datathon/vbg/embarazo_adolescente.csv')
df

,ID,CODPTORE,CODMUNRE,fecha_nacimiento,ANO,MES,TIPO_PRODUCTO,SEXO,EDAD_MADRE,SEG_SOCIAL,IDCLASADMI,COD_COMUNA_RES,BARRIO_RES,APORTE_EMB
0,1,5,1,2012-11-03T00:00:00.000-05:00,2012,11,Producto muerto,3,41,1,EPS SURA,15,Cristo Rey,1.0
1,2,5,1,2012-04-08T00:00:00.000-05:00,2012,4,Producto muerto,3,26,1,EPS SURA,3,Las Granjas,1.0
2,3,5,1,2012-03-31T00:00:00.000-05:00,2012,3,Producto muerto,3,36,1,EPS SURA,12,Calasanz Parte Alta,1.0
3,4,5,1,2012-04-25T00:00:00.000-05:00,2012,4,Producto muerto,3,28,1,E.P.S. SANITAS S.A.,16,Diego Echavarría,1.0
4,5,5,1,2012-06-15T00:00:00.000-05:00,2012,6,Producto muerto,3,36,1,EPS SURA,7,El Diamante,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301583,332600,5,1,2021-01-26T00:00:00.000-05:00,2021,1,Producto vivo,2,32,1,1,6,San Martín de Porres,1.0
301584,332601,5,1,2021-01-26T00:00:00.000-05:00,2021,1,Producto vivo,2,18,1,1,8,Sucre,1.0
301585,332602,5,1,2021-01-26T00:00:00.000-05:00,2021,1,Producto vivo,1,37,1,1,3,Versalles N.2,1.0
301586,332603,5,1,2021-01-26T00:00:00.000-05:00,2021,1,Producto vivo,1,28,1,1,4,Berlín,1.0
301587,332604,5,1,2021-01-26T00:00:00.000-05:00,2021,1,Producto vivo,2,37,1,1,6,Pedregal,1.0